<!-- For top UMass banner-->
<div id="topbanner" style="text-align: right; padding-top: 8px; padding-right: 15px;padding-bottom: 8px; padding-left: 15px; background-color: black; height: 50px;">
  <a href="http://umass.edu/">
    <img id="banner_wordmark" src="https://www.umass.edu/identity/umass_banner/black-wordmark.gif" alt="UMass Amherst" style="float: left; width:
  146px; border: 0;" height="22" width="150">
  </a>

  <a href="http://kdl.cs.umass.edu">
    <img id="kdl_logo" src="kdl-logo-initials-only.gif" alt="KDL" style="float: right; border: 0;" height="30">
  </a>

  <!--
  <form action="http://googlebox.oit.umass.edu/search" method="get" name="gs" onsubmit="if (this.q.value=='Search UMass Amherst') return false;" style="margin: 0; padding: 0;">
    <div>
      <label for="q">
        <input style="font-size: 11px; font-family: Verdana, sans-serif;padding-left: 2px" size="22" name="q" id="q" value="Search UMass Amherst" onfocus="if (this.value=='Search UMass Amherst') this.value=''" onblur="if (this.value=='') this.value='Search UMass Amherst'" type="text">
      </label>
      <input name="sa" value="Go" style="font-size: 11px; font-family: Verdana, sans-serif;" onclick="this.form.target='_blank';return true;" type="submit">
      <input name="site" value="default_collection" type="hidden">
      <input name="client" value="default_frontend" type="hidden">
      <input name="proxystylesheet" value="default_frontend" type="hidden">
      <input name="output" value="xml_no_dtd" type="hidden">
    </div>
  </form>
  -->
</div>

<!-- For navigation bar -->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded sticky-top site-header" role="navigation">
  <button class="navbar-toggle navbar-toggle-right hidden-md-up"
          type="button"
          data-toggle="collapse"
          data-target="#asdf"
          aria-controls="asdf"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand site-header hidden-xs" id="header_words" href="#">{{ site.title }}</a>
  <div class="collapse navbar-collapse" id="asdf">
    <ul class="nav navbar-nav">
      {% for page in site.nav %}
      {% if page.text %}
      <li class="nav-item" style="font-size:16pt;">
        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.text }}</a>&nbsp;&nbsp;
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
