---
layout: page
comments: true
excerpt_separator: <!--break-->
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="well">
    <h2>{{ page.title }}&nbsp;&middot;&nbsp;({{ page.date | date: "%b %-d, %Y" }})</h2>
    {% if page.subtitle %}
      <h3>{{ page.subtitle }}</h3>
    {% endif %}
    {% if page.authors %}
      <p class="author">Written by
        {% for author in page.authors %}
          {% assign author_data = site.authors[author] %}
          <a href="{{ author_data.website }}">
            {{ author_data.first }}&nbsp{{ author_data.last }}
          </a>&nbsp;&middot;
        {% endfor %}
    {% endif %}
      <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a>
    </p>
    
    
    <div class="post-content">
      {{ content }}
    </div>
    
    {% if page.comments and site.comments %}
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}
  </div>

<div class="pagination">
  {% if page.next %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
  {% endif %}
  {% if page.previous %}
  <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
  {% endif %}
</div>

{% include disqus-comments.html %}

</article>
